<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="title"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blogs/header :: header"></header>
<div class="container mt-5">
    <h1>Hello Admin</h1>
</div>

<div th:insert="blogs/footer :: footer"></div>
</body>
</html>